{% block stylesheets %}
     <style>
         #calendrier{
         width: 80%;
         margin: auto;}
     </style>
 {% endblock %}


{% block body %}
    <div id="calendrier">
    </div>
{% endblock %}

 {% block javascripts %}
<script>
    window.onload=()=> {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.calendar(calendarElt,{
            initialView: 'dayGridMonth',

        })
        calendar.render();
    }
</script>
{% endblock %}
