<form method="post" action="{{ path('app_commande_delete', {'idc': commande.idc}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idc) }}">
    <button class="btn">Delete</button>
</form>
