{% extends 'base.html.twig' %}

{% block title %}Edit Coaching{% endblock %}

{% block body %}
    <h1>Edit Coaching</h1>

    {{ include('coaching/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coaching_index') }}">back to list</a>

    {{ include('coaching/_delete_form.html.twig') }}
{% endblock %}
