<!DOCTYPE html>
<html>
    <table border=3>

    <meta charset="UTF-8">
        <a href="index.html" class="footer_logo_iner"> <img src="img/logo.png" alt="#"> </a>

</head>
<body>

{% block body %}


</table>

{% endblock %}
</body>
</body>
</table>

</html>