{% extends 'base.html.twig' %}

{% block title %}New Article
{% endblock %}

{% block body %}
	<div class='container pt-5 pb-5'>

		<h1>Create new Article</h1>

		{{ include('article/_form.html.twig') }}
		<button class='btn btn-info'>
			<a href="{{ path('app_article_index') }}" style='color:white'>back to list</a>
		</button>
	</div>
{% endblock %}
