{% block title %}Payment Fail!{% endblock %}

{% block body %}

    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your reservation!
        But your payment failed :(
        <a href="mailto:orders@example.com">karam.mannai@esprit.tn</a>.
        for more info
    </p>

    <div>

    </div>
{% endblock %}